kitchen-sync/ios/Frameworks/CouchbaseLite.framework
*.userprefs
xamarin/todo-sync/project/src/complete/Components
bin/
obj/
Components/
packages/

space-shooter/*.csproj
space-shooter/*.sln

# ============ #
# Sync Gateway #
# ===========  #
*.walrus
tmp/

# =============== #
# Unity generated #
# =============== #
Temp/
Library/
