<button class="btn btn-primary" ui-sref="item">New Item</button>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, value) in items">
            <td>{{value.firstname}}</td>
            <td>{{value.lastname}}</td>
            <td>{{value.email}}</td>
            <td><a href="" ui-sref="item({documentId: key, documentRevision: value._rev})">edit</a> | <a href="" ng-click="delete(value._id, value._rev)">delete</a></td>
        </tr>
    </tbody>
</table>
